@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }

    
}
/* @layer base {
    body {
        @apply scrollbar-thin scrollbar-thumb-brand hover:scrollbar-thumb-brand-600 scrollbar-track-brand-500;
    }
} */

@layer components {
    #__next {
        @apply w-full font-sans bg-blue-700 mx-auto min-h-screen flex flex-col items-center overflow-x-hidden;
    }

}

.slide-in {
    @apply w-full fixed left-0 top-0 h-screen origin-left bg-white;
  }

  .slide-out {
    @apply w-full fixed left-0 top-0 h-screen origin-right bg-white;
  }

#projects-slider .swiper-slide:not(.swiper-slide-active) {
    opacity: 0 !important;
}
#projects-slider .swiper-slide.swiper-slide-active {
    @apply animate-blur;
}
#portfolio-slider1 .swiper-wrapper,
#portfolio-slider2 .swiper-wrapper {
    transition-timing-function: linear !important;
}

.Toastify__toast-theme--light {
    @apply bg-white/20 dark:bg-gray-900/20 text-gray-900 dark:text-white backdrop-blur-md;
    }
    .Toastify__close-button--light {
        @apply text-gray-900 dark:text-white
    }